

@import url(https://fonts.googleapis.com/css?family=Montserrat);


* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: white; 
    background: -webkit-linear-gradient(to left, #DCF2F1, #033a2e); /* Chrome 10-25, Safari 5.1-6 */
}

body {
    font-family: montserrat, arial, verdana;
    background: transparent;
}


#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    position: relative;
}


#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #365486;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #365486;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .next-button {
    width: 100px;
    background: #365486;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
}
#msform .download-button {
    width: 100px;
    background: #365486;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
}

.url-container {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 35px;
    padding-left: 20px; /* Added padding for left alignment */
}

.url-list1 {
    list-style-type: none;
    overflow-wrap: break-word;
    padding: 0;
}

.url-item1{
    text-align: left;
    margin-bottom: 10px;
    word-wrap: break-word; /* Wrap long URLs */
}


 
  /* Styles for the anchor tag */
  .url-link1 {
    color: rgba(4, 4, 34, 0.938);
    text-decoration: underline;
    cursor: pointer;
  }
 
  /* Hover effect for the anchor tag */
  .url-link1:hover {
    color: darkblue;
  }

  .url-list2{
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: relative;
}



 
.url-list2{
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: relative;
    color:#5c046c;
}
 
 
.url-link2{
 -ms-word-break: break-all;
  word-break: break-all;
  white-space: pre-wrap
}
 
 
 
 
/* .url-box {
    display: inline-block;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #000000;
  } */
 
  .url-link2 {
    text-decoration: none;
    color: #6b0f96;
  }
 
  .url-link2:hover {
    color: #1a0225;
  }
 
/* CSS for the scraped URLs section */
.scraped-urls-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
 
  .scraped-urls-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
 
  .scraped-urls-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
  }
 
  .scraped-urls-list-item {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
 
  .scraped-urls-list-item:hover {
    background-color: #f0f0f0;
  }
 
  .scraped-urls-list-item a {
    color: #007bff;
    text-decoration: none;
  }
 
  .scraped-urls-list-item a:hover {
    text-decoration: underline;
  }
 
  #msform .next.action-button {
    float: right; /* Position on the right */
}
#msform .download.action-button {
    float: left; /* Position on the left */
    margin-left: 10px; /* Add some margin for spacing */
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #365486;
}

#msform .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}


.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #000000;
    margin-bottom: 20px;
}
/*progressbar*/
 #progressbar {
    margin-top: 25px;
    margin-bottom: 30px;
    overflow: hidden;
   
    counter-reset: step;
}
 
#progressbar li {
    list-style-type: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 10px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
    text-align:center;

}
 
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

 
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
}
 
#progressbar li:first-child:after {
    content: '';
    background: #19be35;
    content: none;
}
 
 
#progressbar li.active:after {
    background: #19be35;
    color: rgb(254, 223, 223);
}
#progressbar li.active:before, #progressbar li.active:after {
    background: #19be35;
    color: rgb(255, 250, 250);
}
 
.result {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
    max-height: 400px;
    overflow-y: auto;
  }
  
  .result div {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .result div:last-child {
    border-bottom: none;
  }
  
  .result a {
    color: #007bff;
    text-decoration: none;
  }
  
  .result a:hover {
    text-decoration: underline;
  }
  
.dme_link {
    margin-top: 30px;
    text-align: center;
}
.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #F1FADA;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}
 
.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}


/* 
#progressbar li.inactive:before {
    background: #ffffff;
}

#progressbar li.active:before{
    background:#ee0979;
    color:white;
}  */

